<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Myshop</title>
    <link rel='stylesheet' href='/styles.css'/>
</head>
<body>
<header class='web-shop-header'>
    <ul>
        <li style="display:inline-block;">
            <a class="web-shop-h1" style="text-decoration: none; " href="webshop">
                <h1>My Shop</h1>
            </a>
        </li>
        <li style="display:inline-block;">
            <a class="moreLink" style="text-decoration: none; " href="more-filters">
                <h1>More</h1>
            </a>
        </li>
    </ul>
        <hr class="styled-line">
        <div>

            <a href="cheapest-first">
                <button class="buttonsSmall">CHEAPEST FIRST</button>
            </a>
                <a href="contains-nike">
                    <button class="buttonsSmall">CONTAINS NIKE</button>
                </a>
                <a href="average-stock">
                    <button class="buttonsSmall">AVERAGE STOCK</button>
                </a>
                <a href="most-expensive">
                    <button class="buttonsSmall">MOST EXPENSIVE</button>
                </a>
        </div>
        <form method="POST" th:action="@{/found}">
            <div class='form-row'>
                <label class="searchLabel" for="search">Search for:</label><br>
                <input type="text" id="search" name="search" required placeholder="...something like nike">
                <button class="submitButton" type="submit">search</button>
            </div>
        </form>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity of stock</th>
            </tr>
            <tr th:each="item:${items}">
                <td th:text="${item.name}">
                </td>
                <td th:text="${item.description}">
                </td>
                <td th:text="${item.price}">
                </td>
                <td th:text="${item.quantityOfStock}">
                </td>
            </tr>
        </table>
</header>
</body>
</html>