<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register - The Reddit</title>

    <!-- OUR CSS -->
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

<main class="page">

    <section class="card" style="max-width:420px; margin:80px auto;">
        <h2 class="title-center">Register</h2>

        <p class="title-center muted">
            <a class="link" href="/login">Already registered? <strong>Login</strong></a>
        </p>

        <form method="POST" th:action="@{/register}">
            <div class="field">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-input" required>
            </div>

            <div class="field">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-input" required>
            </div>

            <button type="submit" class="button button-primary w-100">
                Sign Up
            </button>
        </form>

        <div th:if="${param.error}" style="margin-top:14px;">
            <p class="error-message title-center" th:text="${param.error}"></p>
        </div>
    </section>

</main>

</body>
</html>
