<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/styles.css/">
<head>
  <meta charset="UTF-8">
<!--  <title>LoginUser</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>The Reddit</h1>-->
<!--<h2>Submit new post</h2>-->
<!--<form method="POST" th:action="@{'/submit?username=' + ${username}}">-->
<!--  <div class='form-row'>-->
<!--    <label class="" for="name">Title</label>-->
<!--    <input type="text" id="name" name="title">-->
<!--    <br>-->
<!--    <label class="" for="password">URL</label>-->
<!--    <input type="text" id="password" name="url">-->
<!--    <button class="submitButton" type="submit" >Submit</button>-->
<!--  </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->