<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="container">
    <header class="main-header">
        <h1>Renat Beket's Reddit</h1>
    </header>
    <main>
        <h2>Welcome on my Reddit project! You can login or register</h2>
        <div class="main-buttons">
            <a class="button" href="/login">Login</a>
            <a class="button" href="/register">Register</a>
        </div>
    </main>
</div>
</body>
</html>