<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login User</title>
  <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>

<h1>Programmer Fox Club</h1>
<h2>Login User</h2>

<!-- Pokud controller pošle error message, zobrazí se -->
<p th:if="${error}" th:text="${error}"></p>

<form method="POST" th:action="@{/loginUser}">
  <div class="form-row">
    <label for="name">Enter Username:</label>
    <input type="text" id="name" name="name" required>

    <label for="password">Enter password:</label>
    <input type="password" id="password" name="password" required>

    <button class="submitButton" type="submit">GO</button>
  </div>
</form>

<br>

<a th:href="@{/foxclub}">BACK TO MAIN PAGE</a><br><br>

<img th:src="@{/greenfox.png}" alt="greenFox"><br>

</body>
</html>
