<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>MainPage</title>
</head>
<body>
<h1>GFA Fox Sactuary</h1>
<table class="table bordered table-hover vw-100 vh-100">
    <tr>
        <th>Age</th>
        <th>Name</th>
        <th>Species</th>
        <th>TakeCarer</th>
    </tr>
    <tr th:each="fox: ${foxes}">
        <td th:text="${fox.name}">Date</td>
        <td th:text="${fox.age}">Date</td>
        <td th:text="${fox.species}">Likes</td>
        <td th:text="${fox.takeCarer}">Likes</td>
    </tr>
</table>
</body>
</html>