<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<main>

    <!-- NAVBAR (same style as index, but with Login + Register) -->
    <nav class="navbar">
        <div class="nav-left">
      <span class="nav-badge">
        <span class="nav-dot"></span>
        <span class="nav-user">Programmer Pokémon Club</span>
      </span>
        </div>

        <div class="nav-right nav-actions">
            <a class="btn btn-ghost" th:href="@{/loginUser}">Login</a>
            <a class="btn btn-primary" th:href="@{/register}">Register</a>
        </div>
    </nav>

    <!-- BIG LOGO -->
    <img class="welcomeLogo" th:src="@{/logo.svg.png}" alt="Logo">

    <!-- BANNER -->
    <img class="welcomeBanner" th:src="@{/gottacatch.png}" alt="Gotta catch">

    <!-- STARTERS -->
    <section class="starters">
        <img class="starterImg" th:src="@{/bulbasaurBig.png}" alt="BulbasaurBig">
        <img class="starterImg" th:src="@{/charmanderBig.png}" alt="CharmanderBig">
        <img class="starterImg" th:src="@{/squirtleBig.png}" alt="SquirtleBig">
    </section>

</main>

</body>
</html>
