<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CheckName</title>
</head>
<body>
<form method="POST" th:action="@{/gfa/checkName}">
    <div>
        <label for="check">Check if Student is registred:</label><br>
        <input type="text" id="check" name="name" required placeholder="...new name">
        <button class="submitButton" type="submit">check</button>
        <header th:text="${message}"></header>
        <a href="/gfa">Main menu</a>
    </div>
</form>
</body>
</html>