<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginUser</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css/">
</head>
<body>
<h1>Todo List</h1>
<h2>Login User</h2>
<form method="POST" th:action="@{/register}">
    <div class='form-row'>
        <label class="" for="name">Enter Username:</label>
        <input type="text" id="name" name="name">
        <label class="" for="email">Enter Email:</label>
        <input type="text" id="email" name="email">
        <button class="submitButton" type="submit" >GO</button>
    </div>
</form>
<br>
<a href="/foxclub">BACK TO MAIN PAGE</a><br>
<img src="greenfox.png" alt="greenFox"><br>
<a href="/foxclub">BACK TO MAIN PAGE</a><br>
</body>
</html>